<%- include('../partials/header.ejs')%>
    
    <main>
        <Div id="connectionBody">
            <h2><%= games.title%></h2>
            <% if(user == games.host._id){%>
            <form>
            <button type="submit" formmethod="GET" formaction="/connections/<%= games.id%>/edit">Edit</button>
            <button type="submit" formmethod="POST" formaction="/connections/<%= games.id%>?_method=DELETE">Delete</button>
            </form>
            <%}%>
            <img class="conImg" src="<%= games.image %>" alt="Broken Link">
            <ul class="connectionInfo">
                <li><p> <%= games.host.firstName + " " + games.host.lastName%></p></li>
                <li><p><%= games.date%></p></li>
                <li><p><%= games.startTime%> - <%= games.endTime%></p></li>
                <li><p><%= games.address%> </p></li>
            </ul>
            <h2 id="detailsPo">Details</h2>
            <p><%= games.content%></p>



        </Div>
        

		
    </main>

    <%- include('../partials/footer.ejs')%>
