<%- include('../partials/header.ejs')%>
    
    <main>
        <Div id="bodyBorder">
            <% if(games.length) {%>
                <% var topics = []; %>
                <% for ( var i = 0; i < games.length; i++) {%>
                    <% if (topics.length == 0) {
                        topics.push(games[i].topic);
                    } %>
                    <% if (!(topics.includes(games[i].topic))){
                        topics.push(games[i].topic);
                    } %>
                
                <%}%>
                

                <% for ( var i = 0; i < topics.length; i++) {%>
                
                <h2><%= topics[i] %></h2>
                <%games.forEach(games=>{%>
                    <% if (games.topic == topics[i]){ %>
                    <a href="/connections/<%= games.id%>"><P><%= games.title%></P></a>
                   <%}%>
                <% });
                
                }

                
            } else {%>
                <p>there are no stories to display.</p>
            <%}%>
        </Div>
        

		
    </main>

    <%- include('../partials/footer.ejs')%>
